body {
  background-image: url(https://media.istockphoto.com/photos/background-of-galaxy-and-stars-picture-id1035676256?b=1&k=20&m=1035676256&s=170667a&w=0&h=NOtiiFfDhhUhZgQ4wZmHPXxHvt3RFVD-lTmnWCeyIG4=);
  background-size: cover;
  background-repeat: no-repeat;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.bounty-title {
  margin: 0px;
  font-size: 75px;
  background-color: #D32F2F;
  font-family: 'Teko', sans-serif;
}

.bounty-message {
  font-family: 'Teko', sans-serif;
  font-size: 40px;
}

.Post {
  margin-bottom: 0px;
  font-family: 'Teko', sans-serif;
}

.bounty-form {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.bounty-list {
  font-family: 'Teko', sans-serif;
  font-size: 50px;
  margin-top: 3.0rem;
  margin-bottom: 1.0rem;
  text-decoration: underline;
}

.bounty {
  font-family: 'Teko', sans-serif;
}

input {
  font-family: 'Teko', sans-serif;
  font-size: 20px;
}

button {
  font-family: 'Teko', sans-serif;
  font-size: 20px;
}